<h1 style="text-align: center">Welcome to Blogger</h1>
<h2>Read popular blogs.</h2>
<ul>
    <li><a href="{{ path('blog_details', { id: 1 }) }}">Bangkok Trip</a></li>
    <li><a href="{{ path('blog_details', { id: 2 }) }}">Graduation Day</a></li>
    <li><a href="{{ path('blog_details', { id: 3 }) }}">Hiring Result Announcement</a></li>
</ul>

<h2>Authors</h2>
<ul>
    <li><a href="{{ path('blog_author', { name: 'alfafa' }) }}">Alfafa</a></li>
    <li><a href="{{ path('blog_author', { name: 'raihan' }) }}">Raihan</a></li>
</ul>
